NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://amitwebsolutioncompany_db_user:NHYPDUCXQspmVANP@cluster0.idq08bm.mongodb.net/mitpix_aura_studio
JWT_SECRET=APIXIE_SECRET_KEY_2026
JWT_EXPIRES_IN=30d
ADMIN_EMAIL=amitwebsolutioncompany@gmail.com
ADMIN_PASSWORD=amit@3401
CORS_ORIGIN=*
